{% extends 'base.html' %}

{% block title %}
  Log in
{% endblock %}

{% block content_title %}
  Авторизация
{% endblock %}

{% block content %}
<p class="col-md-6" xmlns="http://www.w3.org/1999/html">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      {% for field in form %}
        {% if field.type == 'StringField' or field.type == 'PasswordField' %}
            <p class="col-md-6">
                {{ field.label(class='control-label') }}
                    {% if field.errors %}
                        {{ field(class='form-control') }}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ field(class='form-control') }}
                    {% endif %}
            </p>
        {% elif field.type == 'BooleanField' %}
            <p>
                {{ field.label(class='btn btn-outline-primary') }}
                {{ field(class='btn-check', autocomplete="off") }}
            </p>
        {% endif %}
      {% endfor %}
        <p>
            {{ form.login(class='btn btn-success') }}
        </p>
    </form>
    <br>
    <form action="{{ url_for('profile.register_page') }}">
        <p>
            {{ form.register(class='btn btn-success') }}
        </p>
    </form>
  </div>
{% endblock %}