{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content_title %}
    Profile
{% endblock %}

{% block content %}
    <p>Привет, {{ user_id }}!</p>
    <div class="col-md-6">
        <form action="{{ url_for('posts.index_page') }}">
            <button type="submit" class="btn btn-success" value="">На главную</button>
        </form>
    </div>
    <br>
    <div class="col-md-6">
        <form action="{{ url_for('profile.logout') }}">
            <button type="submit" class="btn btn-success" value="">Выйти</button>
        </form>
    </div>
{% endblock %}