{% extends 'base.html' %}

{% block title %}
    Home page
{% endblock %}

{% block search %}
    <form class="d-flex" role="search" method="get">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
{% endblock %}

{% block content_title %}
    Ммм... Какие кошечки...
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for post in posts%}
            <div class="col">
                <div class="card text-bg-success mb-3 h-100">
                    <img src="{{ url_for('posts.get_post_avatar', url=post.url) }}" class="card-img-top" alt="Картинка с кошечкой">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.body[:100] }}...</p>
                        <a href="{{ url_for('posts.post_detail_page', url=post.url) }}" class="btn btn-warning">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}