{% extends 'base.html' %}

{% block title %}
  Edit post
{% endblock %}

{% block content_title %}
  Редактирование поста
{% endblock %}

{% block content %}
  <div class="col-md-9">
    <form action="{{ url_for('posts.edit_post_page', url=post.url) }}" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {% for field in form if field.name not in ['avatar', 'create', 'tags', 'csrf_token'] %}
        <div class="form-group">
          {{ field.label(class='control-label') }}
          {{ field(class='form-control') }}
        </div>
      {% endfor %}
      {{ form.create(class='btn btn-success') }}
    </form>
  </div>
{% endblock %}