{% extends 'base.html' %}

{% block title %}
  Log in
{% endblock %}

{% block content_title %}
  Log in
{% endblock %}

{% block content %}
  <div class="col-md-6">
    <form action="{{ url_for('posts.login_page') }}" method="post">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" value="" required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" value="" required>
        <label for="floatingPassword">Password</label>
      </div>
      <br>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="remember">
        <label class="btn btn-outline-primary" for="btncheck1">Remember me</label>
      </div>
      <button type="submit" class="btn btn-success">Log in</button>
    </form>
    <br>
    <form action="{{ url_for('posts.register_page') }}">
        <button type="submit" class="btn btn-success" value="">Register</button>
    </form>
  </div>
{% endblock %}