{% extends 'base.html' %}

{% block title %}
  {{ tag.title }}
{% endblock %}

{% block content_title %}
  {{ tag.title }}
{% endblock %}

{% block content %}
  {% for post in psts %}
    <div class="container">
      <img src="/post_avatar/{{ post.url }}" class="rounded mx-auto d-block" width="100" style="float:left">
      <a href="{{ url_for('posts.post_detail_page', url=post.url) }}">
        <h5>{{ post.title }}</h5>
      </a>
    </div>
    <p>
      {{ post.body[:100] }}...
    </p>
    <br>
  {% endfor %}
{% endblock %}